@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.technoItem {
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $section-height;
  scroll-snap-align: start;
  h3 {
    position: absolute;
  }
  @include responsive {
    height: unset;
    aspect-ratio: 49 / 36;
    scroll-snap-align: unset;
  }
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
}

.languagesMap {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  h3 {
    margin-right: 25%;
    margin-bottom: 5%;
  }
}

.frameworksMap {
  grid-row: 2 / span 3;
  grid-column: 2 / span 3;
  h3 {
    margin-right: 25%;
    margin-top: 10%;
  }
}

.toolsMap {
  grid-row: 1 / span 3;
  grid-column: 4 / span 3;
  h3 {
    margin-right: 10%;
    margin-top: 5%;
  }
}

.discussedMap {
  grid-row: 3 / span 3;
  grid-column: 6 / span 2;
  h3 {
    margin-right: 0;
    margin-top: 15%;
  }
}

.focused {
  path {
    fill: $light-color !important;
  }
}

.disabledBackgroud {
  cursor: default !important;
}

.technoDetails {
  position: absolute;
  width: 100%;
  aspect-ratio: 49 / 36;
  display: grid;
  grid-template-columns: repeat(24, calc(100% / 24));
  grid-template-rows: repeat(24, calc(100% / 24));
}