@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.projectsSection {
  @extend %section-base;
  display: block;
  overflow: visible;
  margin-bottom: calc(2 * $section-height);
}

.projectsList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: sectionMargin(2);
}

.projectItem {
  flex-shrink: 0;
  height: $section-height;
  padding: 2rem 10rem;
}
