@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.projectsSection {
  @extend %section-base;
  display: block;
}

.projectsList {
  width: 100%;
  height: $section-height;
  li {
    width: 100%;
    height: 100%;
  }
}
