@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.navbar {
  width: 100%;
  height: 4.5rem;
  background-color: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
}

.filterDark {
  width: 100vw;
  height: 100vh;
  background-color: rgba(80, 89, 89, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}