@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.navbar {
  width: 100%;
  height: 4.5rem;
  background-color: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
}

