@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.logo {
  width: 4rem;
  height: auto;
  display: block;
  padding: 0.5rem;
  svg {
    width: 100%;
    height: auto;
  }
}
