@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

// Titres
@font-face {
  font-family: "Fira Sans";
  src: url("@fonts/Fira_Sans/subset-FiraSans-ExtraBold.woff2")
    format("woff2");
  font-weight: $extra-bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: url("@fonts/Fira_Sans/subset-FiraSans-Bold.woff2") format("woff2");
  font-weight: $bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: url("@fonts/Fira_Sans/subset-FiraSans-SemiBold.woff2")
    format("woff2");
  font-weight: $semi-bold;
  font-style: normal;
  font-display: swap;
}

// Corps de texte
@font-face {
  font-family: "Signika Negative";
  src: url("@fonts/Signika_Negative/subset-SignikaNegative-SemiBold.woff2")
    format("woff2");
  font-weight: $semi-bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Signika Negative";
  src: url("@fonts/Signika_Negative/subset-SignikaNegative-Regular.woff2")
    format("woff2");
  font-weight: $regular;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Signika Negative";
  src: url("@fonts/Signika_Negative/subset-SignikaNegative-Bold.woff2")
    format("woff2");
  font-weight: $bold;
  font-style: normal;
  font-display: swap;
}
