@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

body {
  padding-top: 4.5rem;
}

.wip {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.main-h2 {
  position: fixed;
  bottom: -8rem;
  background: $gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @include responsive {
    background: none;
    -webkit-text-fill-color: $primary-color;
    color: $primary-color;
    background: $gradient;
    width: $section-height;
    position: absolute;

    border-radius: 0 0 2.75rem 2.75rem;
  }
}
