@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

body {
  padding-top: 4.5rem;
  overflow: hidden;
}

main {
  height: $section-height;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.snapping {
  scroll-snap-align: start;
}

.wip {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.main-h2 {
  position: fixed;
  bottom: -8rem;
  background: $gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  @include responsive {
    padding: 0;
    background: none;
    -webkit-text-fill-color: $primary-color;
    color: $primary-color;
    background: $gradient;
    width: $section-height;
    position: absolute;
    border-radius: 0 0 2.75rem 2.75rem;
  }
}

.project-h2 {
  @include font-base("h3");
  color: $primary-color;
  background: $gradient;
  padding: 0.5rem $padding-global 0.5rem 1.75rem;
  border-radius: 0 0 0 2.25rem;
}

.svgIcon {
  svg {
    width: 100%;
    height: 100%;
    path {
      fill: $secondary-color;
      transition: fill 0.3s ease;
    }
    &.grey {
      path {
        fill: $nuance-color;
      }
    }
    &.map {
      path {
        fill: $primary-color;
        stroke: $nuance-color;
      }
    }
  }
}

header {
  nav {
    width: 100%;
    height: $navbar-height;
    background-color: $primary-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .navLinks {
    right: -70%;
    &.open {
      right: 0;
    }
    @include responsive {
      right: 0;
    }
  }
}

.filterDark {
  width: 100vw;
  height: 100vh;
  background-color: rgba(80, 89, 89, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  &.active {
    opacity: 1;
  }
}

footer {
  padding: 4rem $padding-global;
  background-color: $secondary-color;
  display: flex;
  flex-wrap: wrap;
  gap: 4.5rem;
  strong,
  small,
  p {
    color: $primary-color;
  }
  svg {
    path {
      fill: $primary-color !important;
    }
  }
  @include responsive {
    justify-content: space-evenly;
  }
}

.footerBtnTertiary {
  color: $accent-color-lighter !important;
  &:hover {
    color: $nuance-color !important;
  }
}

.footerBtnSecondary {
  color: $accent-color-lighter !important;
  border-color: $accent-color-lighter !important;
  &:hover {
    color: $nuance-color !important;
    border-color: $nuance-color !important;
  }
}

.backToTop,
.footerMessage,
.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.footerMessage {
  @include font-base("h5");
  padding: 0 spaceCalc(0rem, 12rem, 12rem);
}
.footerInfos {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  p {
    width: 10rem;
  }
  @include responsive {
    width: fit-content;
  }
}
.logo {
  width: 7rem;
  aspect-ratio: 1 / 1;
  svg {
    width: 100%;
    height: 100%;
  }
}
.socialMediaIcons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footerLinks {
  flex: 1 1 1;
  strong {
    @include font-base("h4");
  }
  p {
    margin-bottom: 1.5rem;
  }
}
.copyright {
  margin-top: 3rem;
  small {
    color: $nuance-color;
  }
}
