@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

* {
  font-family: $font-body;
  background-color: $primary-color;
  color: $tertiary-color;
}

h1 {
  @include fluid-type(6);
  font-family: $font-heading;
  font-weight: $extra-bold;
  color: $secondary-color
}

h2 {
  @include fluid-type(5);
  font-family: $font-heading;
  font-weight: $bold;
}

h3 {
  @include fluid-type(4);
  font-family: $font-heading;
  font-weight: $bold;
}

h4 {
  @include fluid-type(3);
  font-family: $font-heading;
  font-weight: $semi-bold;
}

h5 {
  @include fluid-type(2);
  font-family: $font-body;
  font-weight: $bold;
}

h6 {
  @include fluid-type(1);
  font-family: $font-body;
  font-weight: $semi-bold;
}

p,
a,
li,
span,
input,
textarea,
button {
  @include fluid-type(0);
  font-family: $font-body;
}

p {
  font-weight: $regular;
}

a {
  font-weight: $bold;
}

small {
  font-family: $font-body;
  font-weight: $regular;
  @include fluid-type(-1);
}