@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

* {
  font-family: $font-body;
  color: $tertiary-color;
}

body {
  background-color: $primary-color;
}

h1 {
  @include font-base("h1");
  color: $secondary-color;
}

h2 {
  @include font-base("h2");
  text-transform: uppercase;
  letter-spacing: 5%;
  text-align: center;
}

h3 {
  @include font-base("h3");
}

h4 {
  @include font-base("h4");
}

h5 {
  @include font-base("h5");
}

h6 {
  @include font-base("h6");
}

p,
a,
li,
span,
input,
textarea,
button {
  @include font-base("body");
}

p {
  font-weight: $regular;
}

button {
  font-weight: $bold;
  &:focus {
    outline: 0.15rem solid $violet-color;
  }
  &:not(:focus-visible) {
    outline: none;
  }
}

small {
  @include font-base("small");
}

section {
  position: relative;
}
