@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.presentation {
  @extend %section-base;
  margin-top: sectionMargin();
  overflow: visible;
  align-items: flex-start !important;
  margin-bottom: calc($section-height * 3);
}

.infos {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  margin-bottom: 5rem;

  img {
    border-radius: 10rem;
    width: 12rem;
    height: 16rem;
    @include responsive {
      width: 14rem;
      height: 20rem;
    }
  }
  figcaption {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  p,
  strong {
    color: $secondary-color;
  }
  strong {
    @include font-base("h5");
  }
  @include responsive {
    margin-bottom: 0;
    width: fit-content;
    height: $section-height;
    position: sticky;
  }
}

.description {
  height: fit-content;
  
}

.descriptionList {
  width: 100%;
  height: 100%;
  ul {
    width: 100%;
    height: 100%;
  }
  @include responsive {
    padding: 0 4rem 0 16rem;
    margin-top: calc($section-height * -1);
  }
}

.descriptionItem {
  flex-shrink: 0;
  height: $section-height;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow: auto;
  padding: 1.5rem 0;
  h3 {
    margin-bottom: 0.5rem;
    color: $secondary-color;
  }
  @include responsive {
    height: $section-height;
    margin-top: 0;
    overflow: visible;
  }
}
