@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.contactSection {
  @extend %section-base;
  overflow: visible;
  display: block;
  margin-bottom: calc($section-height + ($section-margin * 2));
  @include responsive {
    margin-bottom: calc($section-height + ($section-margin * 3) );
  }
}

.list {
  width: 100%;
  height: $section-height;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  strong {
    @include font-base("h5");
    color: $secondary-color;
  }
  li {
    position: relative;
    width: fit-content;
    max-width: 15rem;
    &:nth-of-type(1) {
      text-align: center;
      @include responsive {
        text-align: start;
        align-self: flex-start;
        margin-left: 15%;
      }
    }
    &:nth-of-type(2) {
      align-self: flex-start;
      @include responsive {
        align-self: unset;
        margin-top: 8%;
        margin-right: 40%;
      }
    }
    &:nth-of-type(3) {
      align-self: flex-end;
      @include responsive {
        margin-right: 10%;
      }
    }
    @include responsive {
      max-width: 16rem;
    }
  }
  @include responsive {
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.contactForm {
  width: 100%;
  height: $section-height;
  @include responsive {
    margin-top: $section-margin;
  }
}

.timeLinePoint-1 {
  position: absolute;
  margin: -2rem 0 0 -4rem;
}

.timeLinePoint-2 {
  position: absolute;
  right: 0;
  margin: -4rem -3.5rem 0 0;
}

.timeLinePoint-3 {
  position: absolute;
  margin: -3rem 0 0 -4rem;
}