@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.projectBadge {
  width: 100%;
  position: relative;
  text-align: center;
  font-weight: $regular;
  figcaption {
    width: 100%;
  }
  strong {
    @include fluid-type(2);
    color: $secondary-color;
  }
  p {
    position: absolute;
    width: 100%;
  }
}

.projectHeader {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.island {
  width: 100%;
  position: absolute;
}

.stackList {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: .5rem;
  li {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.focused {
  path {
    fill: $light-color !important;
  }
}
