@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.contactForm {
  width: 100%;
  height: 100%;
  padding: 0 spaceCalc(1rem, 2rem, 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  h3 {
    color: $secondary-color;
    text-align: center;
  }
  form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

.input {
  width: 100%;
  input,
  textarea {
    width: 100%;
  }
}
