@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;
@use "@styles/partials/keyframes" as *;

h1 {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 13rem;
  position: relative;
  span {
    width: 100%;
    @include font-base("h1");
    color: $secondary-color;
    display: block;
    position: absolute;
    top: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    &.visible {
      animation: revealTitle 1.5s forwards;
    }
    &.hidden {
      animation: hideTitle 1.5s forwards;
    }
  }
  @include responsive {
    grid-column: 1;
    grid-row: 1;
    text-align: start;
    margin-bottom: 4rem;
  }
}
