@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.hero {
  padding: 2rem $padding-global 8rem;
  width: 100%;
  height: calc(100svh - $navbar-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 16%;
  h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }
  @include responsive {
    padding: 4rem $padding-global 6rem;
    display: grid;
    grid-template-columns: 50% 10% 1fr auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 5rem 0;
    h1 {
      grid-column: 1;
      grid-row: 1;
      text-align: start;
      margin-bottom: 0;
    }
  }
}

.ctaPrimary {
  align-self: flex-start;
  @include responsive {
    grid-column: 4 / span 2;
    grid-row: 1;
    justify-self: start;
    align-self: center;
  }
}

.ctaSecondary {
  align-self: flex-end;
  @include responsive {
    grid-column: 5 / span 2;
    grid-row: 2;
    justify-self: flex-end;
  }
}

.ctaLink {
  text-align: center;
  color: $secondary-color;
  width: 12rem;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  span {
    display: block;
    width: fit-content;
    transform: rotate(90deg);
    margin: 0 auto;
    font-size: 2rem;
    color: $secondary-color;
  }
  @include responsive {
    position: relative;
    grid-column: 1 / span 6;
    grid-row: 3;
  }
}
