@use "@styles/partials/variables" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

// Mixin pour les styles responsives
@mixin responsive($breakpoint: $bp-desktop) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

// Mixin pour calculer les tailles de police en fonction de l'échelle typographique
@mixin fluid-type($step) {
  // Mobile par défaut
  font-size: type-scale($step, $mobile-font-ratio);

  // Desktop
  @include responsive($bp-desktop) {
    font-size: type-scale($step, $desktop-font-ratio);
  }
}

// Mixin pour appliquer des styles de police en fonction du niveau (h1, h2, body, etc.)
@mixin font-base($level) {
  @if $level == "h1" {
    @include fluid-type(6);
    font-family: $font-heading;
    font-weight: $extra-bold;
  } @else if $level == "h2" {
    @include fluid-type(5);
    font-family: $font-heading;
    font-weight: $bold;
  } @else if $level == "h3" {
    @include fluid-type(4);
    font-family: $font-heading;
    font-weight: $bold;
  } @else if $level == "h4" {
    @include fluid-type(3);
    font-family: $font-heading;
    font-weight: $semi-bold;
  } @else if $level == "h5" {
    @include fluid-type(2);
    font-family: $font-body;
    font-weight: $bold;
  } @else if $level == "h6" {
    @include fluid-type(1);
    font-family: $font-body;
    font-weight: $semi-bold;
  } @else if $level == "body" {
    @include fluid-type(0);
    font-family: $font-body;
    font-weight: $regular;
  } @else if $level == "small" {
    @include fluid-type(-1);
    font-family: $font-body;
    font-weight: $regular;
  }
}

// Mixin pour appliquer du style dynamique aux boutons de la page
@mixin button-style($type) {
  @if $type == "primary" {
    @extend %button-big;
    background: $accent-color-darker;
    color: $primary-color;
    box-shadow: inset 0 0 0 .15rem $accent-color-darker;
    &:active {
      background: $tertiary-color;
      box-shadow: inset 0 0 0 .15rem $tertiary-color;
    }
    @include responsive($bp-desktop) {
      &:hover {
        background: $tertiary-color;
        box-shadow: inset 0 0 0 .15rem $tertiary-color;
      }
    }
  } @else if $type == "secondary" {
    @extend %button-big;
    color: $accent-color-darker;
    box-shadow: inset 0 0 0 .15rem $accent-color-darker;
    &:active {
      color: $tertiary-color;
      box-shadow: inset 0 0 0 .15rem $tertiary-color;
    }
    @include responsive($bp-desktop) {
      &:hover {
        color: $tertiary-color;
        box-shadow: inset 0 0 0 .15rem $tertiary-color;
      }
    }
  } @else if $type == "tertiary" {
    @extend %button-base;
    color: $accent-color-darker;
    text-decoration: underline;
    &:active {
      color: $tertiary-color;
    }
    @include responsive($bp-desktop) {
      &:hover {
        color: $tertiary-color;
      }
    }
  }
}

// Mixin pour les liens de navigation
@mixin nav-link-style($position) {
  @if $position == "header" {
    @extend %button-big;
    box-shadow: inset 0 0 0 .15rem $primary-color;
    color: $secondary-color;
    &:active {
      color: $accent-color-darker;
    }
    @include responsive($bp-desktop) {
      &:hover {
        color: $accent-color-darker;
      }
    }
  } @else if $position == "footer" {
    @extend %button-base;
    color: $primary-color;
    &:active {
      color: $nuance-color;
    }
    @include responsive($bp-desktop) {
      &:hover {
        color: $nuance-color;
      }
    }
  }
}

@mixin h2-position($side) {
  @include responsive {
    height: 5rem;
    top: 50%;
    @if $side == "left" {
      transform-origin: top left;
      transform: rotate(-90deg) translate(-10rem, 0);
      left: calc($h2-offset - 20rem);
      transition: left 0.2s ease-out;
      transform: rotate(-90deg) translate(calc(-50% - ($navbar-height / 2)), 0);
      
    } @else if $side == "right" {
      transform-origin: top right;
      transform: rotate(90deg) translate(10rem, 0);
      right: calc($h2-offset - 20rem);
      transition: right 0.2s ease-out;
      transform: rotate(90deg) translate(calc(50% + ($navbar-height / 2)), 0);
      
    }
  }
}
