@use "@styles/partials/variables" as *;
@use "@styles/partials/functions" as *;

// Mixin pour les styles responsives
@mixin responsive($breakpoint: $bp-desktop) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

// Mixin pour calculer les tailles de police en fonction de l'échelle typographique
@mixin fluid-type($step) {
  // Mobile par défaut
  font-size: type-scale($step, $mobile-font-ratio);

  // Desktop
  @include responsive($bp-desktop) {
    font-size: type-scale($step, $desktop-font-ratio);
  }
}
