@use "@styles/partials/variables" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

// Mixin pour les styles responsives
@mixin responsive($breakpoint: $bp-desktop) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

// Mixin pour calculer les tailles de police en fonction de l'échelle typographique
@mixin fluid-type($step) {
  // Mobile par défaut
  font-size: type-scale($step, $mobile-font-ratio);

  // Desktop
  @include responsive($bp-desktop) {
    font-size: type-scale($step, $desktop-font-ratio);
  }
}

// Mixin pour appliquer du style dynamique aux boutons de la page
@mixin button-style($type) {
  @if $type == "primary" {
    @extend %button-big;
    background: $accent-color;
    color: $primary-color;
    border-color: $accent-color;
    &:active {
      background: $tertiary-color;
      border-color: $tertiary-color;
    }
    @include responsive($bp-desktop) {
      &:hover {
        background: $tertiary-color;
        border-color: $tertiary-color;
      }
    }
  } @else if $type == "secondary" {
    @extend %button-big;
    color: $accent-color;
    border-color: $accent-color;
    &:active {
      color: $tertiary-color;
      border-color: $tertiary-color;
    }
    @include responsive($bp-desktop) {
      &:hover {
        color: $tertiary-color;
        border-color: $tertiary-color;
      }
    }
  } @else if $type == "tertiary" {
    @extend %button-base;
    color: $accent-color;
    text-decoration: underline;
    &:active {
      color: $tertiary-color;
    }
    @include responsive($bp-desktop) {
      &:hover {
        color: $tertiary-color;
      }
    }
  }
}

// Mixin pour les liens de navigation
@mixin nav-link-style($position) {
  @if $position == "header" {
    @extend %button-big;
    border: $primary-color;
    color: $secondary-color;
    &:active {
      color: $accent-color;
    }
    @include responsive($bp-desktop) {
      &:hover {
        color: $accent-color;
      }
    }
  } @else if $position == "footer" {
    @extend %button-base;
    color: $primary-color;
    &:active {
      color: $nuance-color;
    }
    @include responsive($bp-desktop) {
      &:hover {
        color: $nuance-color;
      }
    }
  }
}

@mixin h2-position($side) {
  @extend %main-h2;
  @if $side == "left" {
    transform-origin: top left;
    transform: rotate(-90deg) translate(-10rem, 0);
    left: $h2-offset;
    transform: rotate(-90deg) translate(-50%, 0);
  } @else if $side == "right" {
    transform-origin: top right;
    transform: rotate(90deg) translate(10rem, 0);
    right: $h2-offset;
    transform: rotate(90deg) translate(50%, 0);
  }
}
