@use "@styles/partials/variables" as *;

%button-base {
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

%button-big {
  @extend %button-base;
  padding: 0.67rem 1.42rem;
  box-shadow: inset 0 0 0 .2rem;
  border-radius: 1rem;
}

%section-base {
  padding: $section-padding;
  height: $section-height;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

%card-project {
  border: 0.2rem solid $light-color;
  padding: 1rem;
  border-radius: 1.25rem;
  height: fit-content;
}

%button-project {
  width: 100%;
  border: 0.2rem solid $light-color;
  padding: 1rem;
  border-radius: 1.25rem;
  height: fit-content;
  overflow: hidden;
  max-height: 3.5rem;
}
