
%button-base {
  cursor: pointer;
  transition: background 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

%button-big {
  @extend %button-base;
  padding: 0.5rem 1.5rem;
  border: 0.2rem solid;
  border-radius: 1rem;
}