// Couleurs
$primary-color: #fffaee;
$secondary-color: #4E4B6E;
$tertiary-color: #505959;
$accent-color: #5C967D;
$nuance-color: #E8DEDA;

// Dégradé
$gradient: linear-gradient(-90deg, $accent-color 0%, $secondary-color 100%);