@use "@styles/partials/functions" as *;

// Couleurs principales
$primary-color: #fffaee;
$secondary-color: #4e4b6e;
$tertiary-color: #505959;
$accent-color: #5c967d;
$nuance-color: #e8deda;

// Couleurs secondaires
$blue-color: #5c98ae;
$red-color: #c76153;
$green-color: #93b55b;
$grey-color: #6a636d;
$violet-color: #b770a5;

// Dégradé
$gradient: linear-gradient(-90deg, $accent-color 0%, $secondary-color 100%);

// Typographie
$font-heading: "Fira Sans", sans-serif;
$font-body: "Signika Negative", sans-serif;

// Graisses
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// Points de rupture
$bp-desktop: 768px;

// Ratios typographiques
$desktop-font-ratio: 1.25;
$mobile-font-ratio: 1.2;

// Largeurs et hauteurs
$navbar-height: 4.5rem;
$section-height: calc(100svh - $navbar-height);

// Espacements
$padding-global: spaceCalc(1.5rem, 8.5rem, 19rem);
$h2-offset: calc($padding-global - 6rem);
$section-padding: 0 $padding-global;

