@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.projectItem {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  h3 {
    color: $secondary-color;
  }
}

.left {
  .projectInfo {
    align-self: flex-start;
  }
  .projectButton {
    align-self: flex-end;
  }
  @include responsive {
    flex-direction: row;
  }
}

.right {
  .projectInfo {
    align-self: flex-end;
  }
  .projectButton {
    align-self: flex-start;
  }
  @include responsive {
    .projectInfo {
      align-self: flex-start;
    }
    .projectButton {
      align-self: flex-end;
    }
    flex-direction: row-reverse;
  }
}

.projectInfo,
.projectButton {
  flex-shrink: 0;
}

.projectInfo {
  width: 17rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectButton {
  width: 17rem;
}
