@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.technoMaps {
  // position: absolute;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 8.6% 29.3% 2.5% 5.7% 30.6% 5.7% 17.6%;
  grid-template-rows: 48.2% 10.2% 10.9% 27.9% 2.8%;
  aspect-ratio: 442 / 215;
  height: 26rem;
  transition: transform 0.5s ease, height 0.5s ease-in;
  h3 {
    @include font-base("h5");
    text-transform: uppercase;
    color: $secondary-color;
    text-align: center;
    width: 50%;
    transition: opacity 0.3s ease;
  }
  &.languagesCentred,
  &.frameworksCentred,
  &.toolsCentred,
  &.discussedCentred {
    height: 43rem;
    h3 {
      opacity: 0;
      pointer-events: none;
    }
    @include responsive {
      height: 200%;
    }
  }
  &.languagesCentred {
    transform: translate(31.05%, 20.8%);
  }
  &.frameworksCentred {
    transform: translate(22.65%, -22.7%);
  }
  &.toolsCentred {
    transform: translate(-11.4%, 15.35%);
  }
  &.discussedCentred {
    transform: translate(-38.35%, -29.2%);
  }
  @include responsive {
    height: 100%;
    max-height: 45rem;
  }
}

.technoItem {
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
}
