@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.technosMapContainer {
  height: calc($section-height * 4);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  @include responsive {
    height: $section-height;
    overflow: hidden;
    padding: 1rem $padding-global 1rem 4rem;
    align-items: center;
  }
}

.technoMaps {
  flex-shrink: 0;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 6rem $padding-global;
  transition: transform 1.5s ease, height 1.5s ease-in;
  transform: none;
  will-change: transform, height;
  overflow: visible;
  // overflow: scroll;
  // scroll-snap-type: y mandatory;
  // scrollbar-width: none; /* Pour Firefox */
  // -ms-overflow-style: none; /* Pour Internet Explorer */
  // &::-webkit-scrollbar {
  //   display: none; /* Pour Chrome, Safari et Edge */
  // }
  & > * {
    transition: transform 0.005s ease-in-out;
  }
  h3 {
    @include font-base("h5");
    text-transform: uppercase;
    color: $secondary-color;
    text-align: center;
    width: 50%;
    transition: opacity 0.3s ease;
  }
  &.languagesCentred,
  &.frameworksCentred,
  &.toolsCentred,
  &.discussedCentred {
    h3 {
      opacity: 0;
      pointer-events: none;
    }
    @include responsive {
      height: 200%;
    }
  }

  @include responsive {
    scroll-snap-type: none;
    padding: 0;
    height: 100%;
    width: unset;
    max-height: 45rem;
    display: grid;
    overflow: visible;
    grid-template-columns: 8.6% 29.3% 2.5% 5.7% 30.6% 5.7% 17.6%;
    grid-template-rows: 48.2% 10.2% 10.9% 27.9% 2.8%;
    aspect-ratio: 442 / 215;
    & > * {
      transition: transform 0.005s ease-in-out;
    }
    &.languagesCentred {
      transform: translate(31.05%, 20.8%);
    }
    &.frameworksCentred {
      transform: translate(22.65%, -22.7%);
    }
    &.toolsCentred {
      transform: translate(-11.4%, 15.35%);
    }
    &.discussedCentred {
      transform: translate(-38.35%, -29.2%);
    }
  }
}

.map {
  width: 100%;
  position: absolute;
  height: fit-content;
  @include responsive {
    height: 100%;
  }
}

.backButton {
  position: absolute;
  left: 0.5rem;
  bottom: 6rem;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 3rem;
  color: $accent-color-darker;
  transition: color 0.3s ease-in-out;
  font-weight: $bold;
  &:hover {
    color: $tertiary-color;
  }
  @include responsive {
    bottom: 2rem;
    left: $padding-global;
  }
}

.backAndCaption {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  bottom: 0;
  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}
