@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.technos {
  @extend %section-base;
  padding-left: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: sectionMargin(2);
  display: block;
}

.technoMaps {
  display: grid;
  grid-template-columns: 8.6% 29.3% 2.5% 5.7% 30.6% 5.7% 17.6%;
  grid-template-rows: 48.2% 10.2% 10.9% 27.9% 2.8%;
  aspect-ratio: 442 / 215;
  height: 26rem;
  h3 {
    @include fluid-type(2);
    text-transform: uppercase;
    color: $secondary-color;
    text-align: center;
    width: 50%;
  }
  @include responsive {
    height: 100%;
  }
}

.technoItem {
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.languageMap {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  h3 {
    margin-right: 25%;
    margin-bottom: 5%;
  }
}

.frameworksMap {
  grid-row: 2 / span 3;
  grid-column: 2 / span 2;
  h3 {
    margin-right: 25%;
    margin-top: 10%;
  }
}

.toolsMap {
  grid-row: 1 / span 3;
  grid-column: 4 / span 3;
  h3 {
    margin-right: 10%;
    margin-top: 5%;
  }
}

.discussedMap {
  grid-row: 3 / span 3;
  grid-column: 6 / span 2;
  h3 {
    margin-right: 0;
    margin-top: 15%;
  }
}
