@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.technos {
  @extend %section-base;
  padding-left: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: sectionMargin(2);
  display: block;
}


