@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.toolItem {
  width: 16rem;
  button {
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin 0.3s ease;
  }
  span {
    color: $secondary-color;
    width: 4rem;
    height: 3rem;
    display: flex;
    align-items: center;
    transition: color 0.3s ease, font-weight 0.3s ease;
  }
  @include responsive {
    width: 5rem;
  }
}

.toolButton {
  display: flex;
  align-items: center;
  font-weight: $regular;
  justify-content: space-between;
  transform: translateX(-4.5rem);
  @include responsive {
    flex-direction: column-reverse;
    height: 100%;
    width: 5rem;
    height: 16rem;
    span,
    button {
      padding-right: 0;
    }
    span {
      text-align: center;
      width: auto;
    }
    button {
      width: 5rem;
      height: 9.5rem;
    }
    transform: none;
  }
}

.toolDetails {
  width: calc(100vw - ($padding-global * 2));
  margin-bottom: 1.75rem;
  margin-top: -0.5rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
  h3 {
    color: $secondary-color;
    margin-bottom: .5rem;
  }
  ul {
    list-style: disc;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  li {
    margin: 0 !important;
  }
  &.visible {
    max-height: 50rem;
  }
  @include responsive {
    display: none;
  }
}

.toolIcon {
  width: 8rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include responsive {
    width: 8rem;
    height: 13rem;
  }
}

.tool {
  width: 8rem;
  height: 4.5rem;
  svg {
    transition: margin 0.3s ease;
  }
  path {
    transition: fill 0.3s ease;
  }
  @include responsive {
    width: 9.5rem;
    height: 6rem;
    transform: rotate(-90deg);
  }
}

.hovered,
.selected {
  .toolButton {
    span {
      color: $accent-color-darker;
      font-weight: $bold;
    }
    path {
      fill: $accent-color-darker !important;
    }
  }
}

.selected {
  .toolButton {
    button {
      margin-left: 2rem;
      @include responsive {
        margin-left: 0;
        margin-bottom: 2rem;
      }
    }
  }
}
