@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.skills {
  @extend %section-base;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    color: $secondary-color;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.toolsList {
  display: flex;
  flex-direction: column;
  transform: translateX(-4rem);
  width: 100%;
}

.toolItem {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-weight: $regular;
  button {
    padding-right: 1rem;
  }
  span {
    color: $secondary-color;
    padding-right: 8rem;
  }
}

.tool {
  width: 9.5rem;
  height: 6rem;
}
