@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.skills {
  @extend %section-base;
  h3 {
    color: $secondary-color;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}