@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.technoDetailItem {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include responsive {
    width: 3rem;
    height: 3rem;
  }
}

.frontend {
  path {
    fill: $blue-color !important;
  }
}
.backend {
  path {
    fill: $red-color !important;
  }
}
.database {
  path {
    fill: $green-color !important;
  }
}
.tool {
  path {
    fill: $grey-color !important;
  }
}
.fullstack {
  path {
    fill: $violet-color !important;
  }
}

.technoDetailName {
  background-color: $primary-color;
  border: .2rem solid $light-color;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-110%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: .25rem .75rem;
  border-radius: .75rem;
  z-index: 1;
  pointer-events: none;
  &.visible {
    opacity: 1;
  }
}
