@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.presentation {
  @extend %section-base;
  margin-top: sectionMargin();
  @include responsive {
    flex-direction: row;
  }
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  img {
    border-radius: 10rem;
    width: 12rem;
    height: 16rem;
    @include responsive {
      width: 18rem;
      height: 26rem;
    }
  }
  figcaption {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  p, strong {
    color: $secondary-color;
  }
  strong {
    @include fluid-type(2);
  }
}
