@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.slides {
  overflow: hidden;
  width: 100%;
  height: 100%;
  li {
    padding: 0 !important;
  }
  h2 {
    @include font-base("h3");
    width: fit-content;
    top: 0;
    margin-left: auto;
    right: calc($padding-global * -1);
    background-color: aqua;
  }
}

.slideContent {
  width: 100%;
  height: calc(100% - 6rem);
  margin-top: 1rem;
  padding: 1rem $padding-global 0 0 !important;
  overflow-x: hidden;
  overflow-y: auto;
  span {
    display: block;
  }
  li {
    height: fit-content !important;
  }
}

.cardItem {
  @extend %card-project;
  h3 {
    @include font-base("h5");
    margin-bottom: 0.75rem;
    display: block;
  }
}

.buttonItem {
  @extend %button-project;
  flex-shrink: 0;
  transition: max-height 0.75s ease;
}

.button {
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  span {
    font-weight: $bold;
  }
  span:last-of-type {
    transform: rotate(90deg);
  }
}

.contextSlide,
.conclusionSlide {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.challengesSlide,
.objectivesSlide,
.targetSlide,
.deliverablesConstraintsResourcesSlideContent,
.actionsSlide,
.resultsSlide {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include responsive {
    flex-direction: row;
  }
}

.objectivesSlide {
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.name {
  text-decoration: underline;
  margin: 0.5rem 0 0.25rem;
}

.deliverablesConstraintsResourcesSlideContent {
  flex-direction: column;
  ul {
    list-style-type: disc;
    padding-left: 1rem;
  }
  .selected {
    max-height: 75rem;
  }
}

.planningSlide {
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .selected {
    max-height: 20rem;
  }
}

.actionsSlide {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  ul {
    list-style-type: disc;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .selected {
    max-height: 45rem;
  }
}

.proofsSlide {
  padding-right: 0;
  margin-right: $padding-global;
  text-align: center;
  strong {
    display: block;
  }
  img {
    width: 90%;
    height: 20rem;
    object-fit: contain;
  }
  ul {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    height: 100%;
  }
  div {
    height: 100%;
    width: 100%;
  }
  li {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 100% !important;
    padding-bottom: 1rem !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .proofItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  .indicationNav {
    height: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0 spaceCalc(0.5rem, 5rem, 5rem);
    p {
      margin-bottom: 1rem;
      @include font-base("small");
      opacity: 0.5;
    }
  }
  .indicationLeft {
    margin-right: auto;
  }
  .indicationRight {
    margin-left: auto;
  }
  .githubIcon {
    margin: 1.5rem 0 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}

.fullscreenOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;

  img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
  }
}
