@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.slides {
  h2 {
    @include font-base("h3");
    position: absolute;
    top: 0;
    right: calc($padding-global * -1);
    background-color: aqua;
  }
}

.slideContent {
  width: 100%;
  height: 100%;
  span {
    display: block;
  }
}

.contextSlide {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
