@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.projectsSection {
  @extend %section-base;
  display: block;
  overflow: visible;
  margin-bottom: calc(2 * $section-height + 2 * $section-margin);
}

.projectsList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: $section-margin;
}

.projectItem {
  flex-shrink: 0;
  height: $section-height;
  padding: 2rem spaceCalc(0rem, 10rem, 19rem);
}
