@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.wrapper {
  padding: $section-padding;
  height: $section-height;
  width: 100vw;
  @include responsive {
    display: flex;
    align-items: center;
  }
}

.left {
  h2 {
    @include h2-position("left");
  }
}
.right {
  h2 {
    @include h2-position("right");
  }
}
