@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.wrapper {
  padding: $section-padding;
  height: $section-height;
  width: 100vw;
  @include responsive {
    display: flex;
    align-items: center;
  }
}

.left {
  h2 {
    @include h2-position("left");
    &.visible {
      bottom: 0 !important;
    }
    @include responsive {
      &.visible {
        left: $h2-offset !important;
      }
    }
  }
}
.right {
  h2 {
    @include h2-position("right");
    &.visible {
      bottom: 0 !important;
    }
    @include responsive {
      &.visible {
        right: $h2-offset !important;
      }
    }
  }
}
