@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.timeLinePoint {
  flex-shrink: 0;
  width: 1.5rem !important;
  height: 1.5rem !important;
  background-color: $light-color;
  border-radius: 50%;
}
