@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.technos {
  @extend %section-base;
  margin-top: $section-margin;
  padding: 0;
  margin-bottom: calc($section-height * 3);
  overflow: visible;
  @include responsive {
    margin-bottom: 0;
    overflow: hidden;
  }
}


