@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.technos {
  @extend %section-base;
  margin-top: $section-margin;
  padding: 0;
}


