@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.contactSection {
  @extend %section-base;
  @include responsive {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  strong {
    @include fluid-type(2);
  }
  li {
    width: fit-content;
    max-width: 14rem;
    &:nth-of-type(1) {
      text-align: center;
      @include responsive {
        text-align: start;
        align-self: flex-start;
        margin-left: 15%;
      }
    }
    &:nth-of-type(2) {
      align-self: flex-start;
      @include responsive {
        align-self: unset;
        margin-top: 15%;
        margin-right: 25%;
      }
    }
    &:nth-of-type(3) {
      align-self: flex-end;
      @include responsive {
        margin-right: 10%;
      }
    }
    @include responsive {
      max-width: 16rem;
    }
  }
  @include responsive {
    justify-content: space-between;
  }
}
