@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.technoItem {
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  //   &:hover {
  //     .map {
  //       svg {
  //         path {
  //           fill: $accent-color;
  //         }
  //       }
  //     }
  //   }
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.languageMap {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  h3 {
    margin-right: 25%;
    margin-bottom: 5%;
  }
}

.frameworksMap {
  grid-row: 2 / span 3;
  grid-column: 2 / span 2;
  h3 {
    margin-right: 25%;
    margin-top: 10%;
  }
}

.toolsMap {
  grid-row: 1 / span 3;
  grid-column: 4 / span 3;
  h3 {
    margin-right: 10%;
    margin-top: 5%;
  }
}

.discussedMap {
  grid-row: 3 / span 3;
  grid-column: 6 / span 2;
  h3 {
    margin-right: 0;
    margin-top: 15%;
  }
}

.focused {
  .map {
    svg {
      path {
        fill: $light-color;
      }
    }
  }
}
