@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.projectCarrousel {
  @extend %section-base;
  flex-direction: row;
  margin-bottom: calc($section-height * 9);
  overflow: visible;
  padding-right: 0;
}

.sliderContainer {
  width: 100%;
  height: fit-content;
  position: relative;
  // padding-right: $padding-global;
  
  
}

.slider {
  width: 100%;
  position: relative;
  padding-left: 2rem;
  margin-top: calc($section-height * -1);
  li {
    height: $section-height;
    padding: 0;
    position: relative;
  }
  @include responsive {
    padding-left: 15rem;
  }
}


