@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.projectCarrousel {
  @extend %section-base;
  flex-direction: row;
  align-items: center;
  overflow: visible;
  gap: 1.5rem;
  padding-right: 0;
  @include responsive {
    gap: 15rem;
  }
}

.sliderContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-right: $padding-global;
}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  top: calc(-100% * 9);
  li {
    height: 100%;
    padding: 5rem 0 2rem;
    position: relative;
  }
}


