@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.projectCarrousel {
  @extend %section-base;
  flex-direction: row;
  margin-bottom: calc($section-height * 9);
  overflow: visible;
  gap: 1.5rem;
  padding-right: 0;
  @include responsive {
    gap: 15rem;
  }
}

.sliderContainer {
  width: 100%;
  height: fit-content;
  position: relative;
  padding-right: $padding-global;
}

.slider {
  width: 100%;
  position: relative;
  li {
    height: $section-height;
    padding: 5rem 0 2rem;
    position: relative;
  }
}


