@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.projectCarrousel {
  @extend %section-base;
  flex-direction: row;
  align-items: center;
  overflow: visible;
  gap: 2rem;
  @include responsive {
    gap: 15rem;
  }
}

.sliderContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  // top: calc(-100%);
  li {
    height: 100%;
    padding: 2rem 0;
  }
}


