@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.projectCarrousel {
  @extend %section-base;
}

.slides {
  width: 100%;
  height: 100%;
  position: relative;
  top: calc(-100% * 4);
  li {
    width: 100%;
    height: 100%;
  }
}