@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.timeline {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.timelineSvg {
  position: absolute;
  inset: 0;
  width: 100%; /* Assurez-vous que la largeur est correcte */
  height: 100%; /* Assurez-vous que la hauteur est correcte */
  pointer-events: none;
  overflow: visible; /* Permet d'afficher les chemins qui dépassent */
  z-index: -2;
  path {
    stroke: $timeline-color;
    stroke-width: 12;
    fill: none;
    stroke-linejoin: round; // Coins arrondis
    stroke-linecap: round;
  }
}
