@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.sectionCTA {
  width: 100%;
  height: $section-height;
  padding: $section-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: fit-content;
  background-color: $primary-color;
  padding: 2rem 0;
}

.text {
  padding: 0 spaceCalc(0rem, 16rem, 16rem);
  strong {
    @include font-base("h6");
    color: $secondary-color;
  }
}
