@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.button {
  @include button-style("primary");
  font-weight: $bold;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0 auto;
  &:focus {
    outline: 0.15rem solid $violet-color;
  }
  &:not(:focus-visible) {
    outline: none;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    &:hover {
      background-color: $accent-color-darker;
      box-shadow: inset 0 0 0 .15rem $accent-color-darker;
    }
  }
}
