@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.lid {
  display: none;
  background-color: $nuance-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 45%;
  border-radius: 2rem 2rem 0 0;
  @include responsive {
    display: block;
  }
}

.handle {
  display: none;
  position: absolute;
  z-index: -1;
  bottom: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 30%;
  @include responsive {
    display: block;
  }
}

.toolsContainer {
  position: relative;
  width: 100%;
  @include responsive {
    display: flex;
    justify-content: center;
  }
}

.toolsList {
  display: flex;
  flex-direction: column;
  width: 100%;
  // transform: translateX(-4.5rem);
  @include responsive {
    transform: none;
    flex-direction: row;
    width: fit-content;
    padding-bottom: 5rem;
  }
}