@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.footer {
  @include nav-link-style("footer");
}

.navbar {
  @include nav-link-style("header");
}

.active {
  color: $accent-color;
  text-decoration: underline;
}
