@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.contactForm {
  width: 100%;
  height: 100%;
  padding: 0 spaceCalc(1rem, 8rem, 8rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: $primary-color;
  h3 {
    padding: 0 spaceCalc(0rem, 8rem, 8rem);
    color: $secondary-color;
    text-align: center;
  }
  form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  @include responsive {
    form {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.input {
  width: 100%;
  input,
  textarea {
    width: 100%;
  }
  @include responsive {
    &:last-of-type {
      grid-row: 1 / span 2;
      grid-column: 2;
    }
  }
}

.submitButton {
  @include responsive {
    grid-column: span 2;
  }
}
