@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.projectItem {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 4rem 8rem;
  h3 {
    color: $secondary-color;
  }
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.projectInfo {
  align-self: flex-start;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectButton {
  align-self: flex-end;
  width: 30%;
}
