@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.primary {
  @include button-style("primary");
}

.secondary {
  @include button-style("secondary");
}

.tertiary {
  @include button-style("tertiary");
}