@use "@styles/partials/variables" as *;
@use "@styles/partials/mixins" as *;
@use "@styles/partials/functions" as *;
@use "@styles/partials/placeholders" as *;

.projectDescriptionSlide {
  width: 100%;
  height: 100%;
  position: relative;
//   top: calc(-100% * 5);
  overflow: hidden;
//   h2 {
//     position: absolute;
//     top: 0;
//     right: 0;
//   }
}
